input.card-title.cardCheckBox {
  display: none;
}
div.input-group {
  width: 16em;
}

.form-group {
  width: 18em;
}
.tooltip-group {
  position: relative;
}
.tooltip-group .tooltip-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  left:20%;
  bottom: 65%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-group .tooltip-text::after {
  content:"";
  position: absolute;
  border-width:7px;
  top: 102%;
  left: 50%;
  border-style: solid;
  border-color: #555 transparent transparent;
}
.tooltip-group:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#furnitureForm .tooltip-text {
  bottom:88%;
}
#furnitureForm .tooltip-text::after {
  top: 100%;
}
